<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>RendezVous-Panel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Roboto:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/91d2f81fc7.js" crossorigin="anonymous"></script>

     <link rel="stylesheet" th:href="@{css/panel-style.css}" type="text/css">
<!--    <link rel="stylesheet" href="./panel-style.css">-->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
</head>

<body>

    <div class="panel-wrapper">


        <div class="left-wrapper">
            <div class="logo">
                rendexVous
            </div>
            <div class="me-user">
                Moje zdjęcie
                Marcin
            </div>
            <div class="left-wrapper-menu">

                <button class="menu-btn menu-btn-browse-candidates" value="0">
                    <i class="fas fa-user-friends"></i>
                    <p>Przeglądaj</p>
                </button>
                <button class="menu-btn menu-btn-preferences" value="0">
                    <i class="fas fa-sliders-h"></i>
                    <p>Preferencjie</p>
                </button>
                <button class="menu-btn menu-btn-message" value="0">
                    <i class="fas fa-comment"></i>
                    <p>Wiadomości</p>
                </button>
                <button class="menu-btn menu-btn-matches" value="">
                    <i class="fas fa-heart"></i>
                    <p>Dopasowania</p>
                </button>
                <button class="menu-btn menu-btn-settings" value="0">
                    <i class="fas fa-cog"></i>
                    <p>Ustawienia</p>
                </button>
                <button class="menu-btn menu-btn-logout">
                    <i class="fas fa-arrow-left"></i>
                    <p>Wyloguj</p>
                </button>


            </div>
            <div></div>
        </div>


        <div class="right-wrapper">

            <div class="browse-candidates-box">


                <div class="c">
                    <p class="viewed-name"></p>
                    <p class="viewed-age"></p>
                </div>

                <!-- Slider main container -->
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>



                <button class="like-btn btn">Like</button>
                <button class="reject-btn btn">Reject</button>

                <div>
                    <p>O mnie</p>
                    <p class="viewed-aboutMe"></p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero illo dolores accusamus ex sed
                        maiores soluta reiciendis optio ab? Doloremque.</p>
                </div>

                <div>
                    <p>Informacje dodatkowe</p>
                </div>



            </div>








            <div class="preferences-box">

                <div>
                    <p>Szukam</p>
                    <select class="select-gender">
                        <option value="all">Wszystkich</option>
                        <option value="man">Meżczyzn</option>
                        <option value="woman">Kobiet</option>
                    </select>
                </div>


                <div>
                    <input class="slider-min-age-input" type="range" min="18" max="80" value="40"
                        oninput="this.nextElementSibling.value = this.value">
                    <output>-</output>
                </div>

                <div>
                    <input class="slider-max-age-input" type="range" min="18" max="80" value="40"
                        oninput="this.nextElementSibling.value = this.value">
                    <output>-</output>
                </div>

                <div>
                    <input class="slider-distance-input" type="range" min="0" max="160" value="80"
                        oninput="this.nextElementSibling.value = this.value">
                    <output>-</output>
                </div>

                <div>
                    <p>Jakich osób szukasz</p>
                    <select class="select-relationship-status">
                        <option value="all">Wszystkich</option>
                        <option value="single">Tylko Singli</option>
                        <option value="relation">Osób w związku</option>
                        <option value="wedding">Tylko po ślubiee</option>
                        <option value="divorce">Tylko po rozwodzie</option>
                        <option value="complicated">osób z To skomplikowane</option>
                        <option value="beer">W związku z piwem</option>
                    </select>
                </div>

                <div>
                    <p>Pokaż mi użytkowników ze względu na orientacjie</p>
                    <select class="select-sexual-orientation">
                        <option value="all">Wszystkich</option>
                        <option value="hetero">Hetero</option>
                        <option value="homo">Homo</option>
                        <option value="bisexual">Bisexual</option>
                        <option value="asexuality">Asexuality</option>
                    </select>
                </div>

                <button class="save-preferences-btn" type="default">Zapisz Filtry</button>

            </div>





            <!-- Message Box -->
            <div class="message-box">

                <div class="left-message-box">

                    <!-- Search recipient box -->
                    <div class="search-recipient-box">
                        <div class="search-recipient">
                            <i class="fas fa-search"></i>
                            <input class="search-recipient-input" type="text" placeholder="Szukaj użytkowników">
                        </div>
                    </div>


                    <div class="sort-recipient-box">
                        <select class="sort-recipient-select" name="" id="">
                            <option value="">Wszyscy</option>
                            <option value="">Aktywni</option>
                            <option value="">Nieaktywni</option>
                        </select>

                    </div>

                    <!-- Recipient list -->
                    <ul class="recipient-list-box">

                        <!-- Default recipient box -->
                        <li style="display: none" class="recipient-box"></li>

                    </ul>

                    <button class="create-pair-link">Znajdź nową parę !</button>

                </div>
                <div class="right-message-box">

                    <div class="conversation-top">
                        <div class="conversation-top-name">
                            <p class="conversation-top-name-p">...</p>
                            <div class="conversation-top-nam-active"></div>
                        </div>

                        <div class="conversation-top-icones-box">
                            <i class="fas fa-video conversation-top-icones-i"></i>
                            <i class="fas fa-phone-alt conversation-top-icones-i"></i>
                            <i class="fas fa-ellipsis-h conversation-top-icones-i"></i>
                        </div>
                    </div>

                    <div class="conversation-bottom">
                        <div class="conversation-bottom-left">

                            <ul class="conversation-list">

                                <li class="conversation-li-right">
                                    <p>Wybierz znajomego i czatuj razem z nim !</p>
                                </li>

<!--                                TEST-->
<!--                                <li class="conversation-li-right">-->
<!--                                    <div>-->
<!--                                        <p class="g">ok</p>-->
<!--                                    </div>-->
<!--                                    <p class="l">20.12.2021 14:32</p>-->
<!--                                </li>-->
<!--                                <li class="conversation-li-left">-->
<!--                                    <img class="conversation-message-img" src="./img/slide-1.jpg" alt="">-->
<!--                                    <div>-->
<!--                                        <p class="d">Hejka co tam u cb słychać ?</p>-->
<!--                                        <p class="c">20.12.2021 14:32</p>-->
<!--                                    </div>-->
<!--                                </li>-->

                            </ul>

                            <div class="send-message-wrapper">
                                <div class="message-sending-panel">
                                    <input class="input-field" type="text" placeholder="podaj wiadomość" />
                                    <button class="send-btn"><i class="fas fa-paper-plane"></i></button>
                                </div>
                            </div>


                        </div>

                        <div class="conversation-bottom-right">
                            <img class="conversation-info-img" src="./img/slide-1.jpg" alt="">
                            <p>zainteresowania</p>
                            <p>telephone</p>
                            <p>emial</p>
                        </div>
                    </div>
                </div>

            <!-- end Message box -->
            </div>








            <!-- Matches Box -->
            <div class="matches-box"></div>

            <div class="profile-settings-box">

                <div>
                    <input class="description-name" type="text" placeholder="Twoje imie">
                </div>

                <div>
                    <select class="description-gender">
                        <option value="man">Meżczyzną</option>
                        <option value="woman">Kobietą</option>
                    </select>
                </div>


                <div>
                    <input class="description-age" type="range" min="0" max="80" value="40"
                        oninput="this.nextElementSibling.value = this.value">
                    <output>-</output>
                </div>

                <div>
                    <textarea class="description-aboutMe" placeholder="o mnie"></textarea>
                </div>


                <div>
                    <p>Określ swoją orientacjie sexualną</p>
                    <select class="description-sexual-orientation">
                        <option value="hetero">Hetero</option>
                        <option value="homo">Homo</option>
                        <option value="bisexual">Bisexual</option>
                        <option value="asexuality">Asexuality</option>
                    </select>
                </div>

                <div>

                    <p>Określ swój status związku</p>
                    <select class="description-relationship-status">
                        <option value="single">Jestem singlem</option>
                        <option value="relation">Jestem w związku</option>
                        <option value="wedding">Po ślubie</option>
                        <option value="divorce">Po rozwodzie</option>
                        <option value="complicated">To skomplikowane</option>
                        <option value="beer">W związku z piwem</option>
                    </select>
                </div>

                <button class="save-description-btn" type="default">Zapisz UserDescription</button>

                <div>
                    <label>Wyślij zdjęcie</label>
                    <input class="description-image-input" type="file" placeholder="zdjęcie">
                </div>

                <button class="save-description-image-btn">Ustaw zdjęcie</button>


            </div>

        </div>


    </div>

     <script th:src="@{js/stomp-lib.js}"></script>
     <script type="module" th:src="@{js/panel-js.js}"></script>
<!--    <script type="module" src="./panel-js.js"></script>-->
</body>

</html>