<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>

<h1></h1>

<img class="img-box" alt="send picture" width="400" height="600">
<input class="file-input" type="image" placeholder="file">
<button class="save-picture-btn">save picture</button>


<p>----------------------------------------------------</p>
<button class="get-picture-btn">get picture</button>
<img class="get-picture-img" alt="pobrany obrazek" width="400" height="600">

<script th:src="@{js/test-js.js}"></script>
</body>
</html>